<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Generator</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='food_recipe_app/css/style.css') }}">
</head>
<body>
    {% block content %}
    {% endblock %}
    <!-- Link to the JavaScript file -->
    <script src="{{ url_for('static', filename='food_recipe_app/js/main.js') }}"></script>
</body>
</html>
